name: Flutter test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
 
jobs:
  process:
    name: all process
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '21'
      - name: Flutter action
        uses: subosito/flutter-action@v2.21.0
        with:
          channel: "stable"
          flutter-version: "3.22.x"
      - run: flutter pub get
      - run: flutter build
